body{
-ms-overflow-style: none; 
scrollbar-width: none; 

}
body::-webkit-scrollbar {
display: none;
}

.tableContainer{
  margin-top: 60px;
  z-index: -1;
    position: absolute;  
    width:100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
  overflow-x: scroll;

  -ms-overflow-style: none; 
  scrollbar-width: none; 
  
  }
  .tableContainer::-webkit-scrollbar {
  display: none;
  }
.headname{
    background-color:#062855 ;
    color:white;
    padding: 10px;
    width:100%;
    position: fixed;
    /* margin-bottom: 30px; */
   
}
.inputContainer{
  z-index: 1;
    width:300px;
    height: 85%;
    right: 10px;
    bottom: 10px;
    position: fixed; 
    background-color:#062855;
    color:white;
    padding: 20px;    
    overflow-y: scroll;
 -ms-overflow-style: none; 
scrollbar-width: none; 

}
.inputContainer::-webkit-scrollbar {
display: none;
}
.searchSec{
  width:300px;
  height: 250px;
  right: 10px;
  bottom:80px;
  position: fixed; 
  background-color:#062855;
  color:white;
  padding: 20px;    
  border-radius: 5px;


}

.add{
  text-align: center;
  padding: 10px;
    width: 150px;
    background-color:#062855;
    color: white;
    right: 30px;
    bottom:15px; 
    position:fixed; 
    border-radius: 50px; 
    font-family: 'Times New Roman', Times, serif;
}

.serachButton{
  text-align: center;
  padding: 10px;
    width: 150px;
    background-color:#062855;
    color: white;
    right: 30px;
    bottom:80px; 
    position:fixed; 
    border-radius: 50px; 
    font-family: 'Times New Roman', Times, serif;
}


input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=number] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
   
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
.submit {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px 5px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .refreshBtn{
    margin-top: 20px;
    background-color:red;
    color: white;
    width: 100px;
    padding: 2px;
    border-radius: 50px;
  }
  
.submit:hover {
    background-color: #45a049;
  }
  .hide{
      display: none;
  }
  